<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.outsystems.experts.widget.plugin" version="1.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>WidgetPlugin</name>

	<js-module name="WidgetPlugin" src="www/WidgetPlugin.js">
		<clobbers target="cordova.plugins.WidgetPlugin" />
	</js-module>

	<engines>
    	<engine name="cordova" version=">=10.0.0"/>
    	<engine name="cordova-android" version=">=9.0.0"/>
  	</engines>

	 <platform name="android">
	 	<config-file target="config.xml" parent="/*">
			<preference name="GradlePluginKotlinVersion" value="1.6.20" />
			<preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="AndroidXEnabled" value="true"/>

			<feature name="WidgetPlugin">
				<param name="android-package" value="com.outsystems.experts.widget.plugin.WidgetPlugin" />
			</feature>

		</config-file>

		<config-file target="AndroidManifest.xml" parent="application">
      		
			<receiver android:name="com.outsystems.experts.widget.plugin.CordovaWidgetProvider" android:exported="true">
        		<intent-filter>
          			<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        		</intent-filter>

        	<meta-data
          		android:name="android.appwidget.provider"
          		android:resource="@xml/widget_info" />

      		</receiver>

			 <service
            	android:name="com.outsystems.experts.widget.plugin.WidgetListService"
            	android:permission="android.permission.BIND_REMOTEVIEWS"
            	android:exported="false" />
				
   		</config-file>

        <source-file src="src/android/WidgetPlugin.kt" target-dir="app/src/main/kotlin/com/outsystems/experts/widget/plugin/" />
		<source-file src="src/android/WidgetListService.kt" target-dir="app/src/main/kotlin/com/outsystems/experts/widget/plugin/" />
		<source-file src="src/android/WidgetData.kt" target-dir="app/src/main/kotlin/com/outsystems/experts/widget/plugin/data/" />
		<source-file src="src/android/CordovaWidgetProvider.kt" target-dir="app/src/main/kotlin/com/outsystems/experts/widget/plugin/" />

		<resource-file src="src/android/res/layout/cordova_widget.xml" target="res/layout/cordova_widget.xml" />
		<resource-file src="src/android/res/layout/widget_image.xml" target="res/layout/widget_image.xml" />
		<resource-file src="src/android/res/layout/widget_list_item.xml" target="res/layout/widget_list_item.xml" />
		<resource-file src="src/android/res/layout/widget_text_image.xml" target="res/layout/widget_text_image.xml" />
		<resource-file src="src/android/res/layout/widget_text.xml" target="res/layout/widget_text.xml" />
		<resource-file src="src/android/res/layout/widget_list.xml" target="res/layout/widget_list.xml" />

    	<resource-file src="src/android/res/xml/widget_info.xml" target="res/xml/widget_info.xml" />
  	</platform>


</plugin>